<!--NOTA: con vue no se puede hacer envio de correos-->
<template>
   <div class="container" style="padding-bottom: 100px; padding-top: 70px;">
    <div class="container pt-3 pb-3">
      <div class="row">
        <div class="col text-center text-uppercase">
          <small>Formulario</small>
          <h2>Reserva tu lugar</h2>
        </div>
      </div>
    </div>
    
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="pt-3 pb-4">
      <b-form-group
        id="input-group-1"
        label="Email:"
        label-for="input-1"
        description="Tu email no será compartido con nadie."
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          placeholder="Ejemplo: correo@mail.com"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Nombre:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          placeholder="Nombre"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="¿Cuántas personas?" label-for="input-3" class="pb-3">
        <b-form-select
          id="input-3"
          v-model="form.numero"
          :options="numeros"
          required
        ></b-form-select>
      </b-form-group>      
      <b-button type="submit" id="btn-reservar">Reservar</b-button>
      <b-button type="reset" id="btn-reiniciar">Reiniciar</b-button>
    </b-form>
    <div class="container" v-if=" mostrarMensaje">
      <h1 class="pt-4"> {{ mensaje }} </h1>
      <div class="row pt-4 pb-4">
       <div class="col text-center">
         <small>Tu email</small>
         <h2>{{ form.email }}</h2>
         <small>Tu nombre</small>
         <h2>{{ form.name }}</h2>
         <small>Lugares Reservados</small>
         <h2>{{ form.numero }}</h2>
       </div>
    </div>

  </div>
    
  </div> 
</template>

<script>
 export default {
    data() {
      return {
        form: {
          email: '',
          name: '',
          numero: null,
        },
        numeros: [{ text: 'Selecciona el número de personas que van a viajar', value: null }, 'Una', 'Dos', 'Tres', 'Cuatro','Cinco'],
        show: true,
        mensaje: "¡Gracias por reservar tu lugar!",
        mostrarMensaje: false  
      }
    },
    methods: {
      onSubmit(event) {
        event.preventDefault()
        this.mostrarMensaje = true;
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.numero = null
        this.mostrarMensaje = false
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }
  }
</script>

<style>
#btn-reservar{
  background-color: #21c3ec;
  margin: 10px;
}

#btn-reservar:hover{
  background-color: #1e9ab9;
}

#btn-reiniciar{
  background-color: #e41270;
  margin: 10px;
}

#btn-reiniciar:hover{
  background-color: #a80c52;
}
</style>