<template>
    <div>
      {{ selectLugar() }}
      <div class="container pt-3 pb-3">
        <div class="row">
          <div class="col text-center text-uppercase">
            <small>Conoce las</small>
            <h2>Zonas Populares</h2>
          </div>
        </div>
      </div>
    <section id="lugar">      
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 pl-0 pr-0">
            <img src="../assets/lugares-carousel/tokio01.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/tokio'">
            <img src="../assets/lugares-carousel/castillo-himeji01.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/castillo-himeji'">
            <img src="../assets/lugares-carousel/shirakawa-go01.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/shirakawa-go'">
            <img src="../assets/lugares-carousel/nara01.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/nara'">
            <img src="../assets/lugares-carousel/monte-fuji02.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/monte-fuji'">
            <img src="../assets/lugares-carousel/hiroshima02.jpg" alt="Tokio Image" v-if="rutaActual === '/vue-japan-tour/lugares/hiroshima'">
          </div>
          <div class="col-12 col-lg-6 pt-4 pb-4" style="padding-top: 130px !important;">
            <h2>{{ titulo }}</h2>
            <b-container id="descripcion">
              <p>{{ descripcion }}</p>
            </b-container>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>
<script>
export default {
  props: {
    rutaActual : String,
    titulo: String,
    descripcion: String
  },
  methods: {
    selectLugar(){
      this.rutaActual = window.location.pathname;
      console.log(this.rutaActual);
      switch(this.rutaActual){
        case '/vue-japan-tour/lugares/tokio':
          this.titulo = 'Tokio';
          this.descripcion = 'Tokio es una ciudad interminable con templos, rascacielos, tradiciones milenarias y tecnología de última generación, en la que en muchos momentos te sientes como en un viaje al futuro. Una ciudad como esta, con semejante índice de población, que en otros países sería inviable, aquí podemos decir que fluye sin grandes aglomeraciones. Hay muchas cosas que ver y hacer en Tokio, entre las que podemos destacar el atardecer sobre Tokio desde la isla de Odaiba, la visita al Santuario Meiji y el Templo Sensoji, subir a la Torre de Tokio, comer el mejor sushi cerca de Tsukiji, sorprenderse en la calle Takeshita Dori, cruzar el paso de peatones de Shibuya o recorrer los barrios de Ginza, Akihabara o Shinjuku. Desde Tokio puedes hacer varias excursiones aprovechando el Japan Rail Pass como Kamakura, Yokohama, Nikko o ver el Monte Fuji desde alguno de sus miradores.';
          break;
          case '/vue-japan-tour/lugares/castillo-himeji':
            this.titulo = 'Castillo Himeji';
            this.descripcion = 'El Castillo Himeji es uno de los castillos más impresionantes del mundo y uno de los lugares que tienes que ver en Japón. Patrimonio de la Humanidad por la Unesco, es de los pocos que se conservan de la Edad Media. Ha estado durante muchos años en restauración pero desde principios del 2015 luce en todo su esplendor y ha vuesto a ser una de las visitas estrellas del país. Este castillo recibe el sobrenombre de “la Garza Blanca” por su color blanco y está construido en un monte rodeado de cerezos, que en primavera lo convierten en una de las postales de Japón. Desde Kioto puedes ir en el tren bala o reservar una excursión que incluye la ciudad de Kobe.';
            break;
          case '/vue-japan-tour/lugares/shirakawa-go':
            this.titulo = 'Shirakawa-go';
            this.descripcion = 'Shirakawa-go, el pueblo del río blanco, es una aldea histórica situada en los alpes japoneses. Destaca por la arquitectura de sus casas construidas al estilo Gassho-zukuri con sus tejados de paja que parecen dos manos colocadas en posición de oración y que son útiles para soportar la gran cantidad de nieve de aquella zona. Para llegar a Shirakawa-go tienes que coger un autobús en Takayama, que te dejará allí en poco más de una hora. El pueblo es muy pequeño y en unas 3 horas puedes visitarlo, aunque no debes olvidar subir al mirador, ya que las vistas desde allí son realmente increíbles. Eso sí, si lo haces con nieve, tienes que tener cuidado, ya que es un poco peligroso.';
           break;
          case '/vue-japan-tour/lugares/nara':
            this.titulo = 'Nara';
            this.descripcion = 'Nara, situada al sur de Kyoto, es una antigua capital de Japón con varios lugares destacados que visitar. El lugar más imprescindible que ver en Nara es el templo Todaiji, donde en el interior de su gran estructura de madera se encuentra el espectacular Gran Buda de Nara. Antes de llegar al templo pasarás por el bonito parque de Nara, lleno de ciervos con varios templos y jardines. Visitar Nara es una de las excursiones más típicas de Kioto y se puede aprovechar el viaje en tren para ver uno de los santuarios más bonitos de Japón, el Fushimi Inari-Taisha.';
            break;
          case '/vue-japan-tour/lugares/monte-fuji':
            this.titulo = 'Monte Fuji';
            this.descripcion = 'El Monte Fuji es un fotogénico volcán sagrado, la cima más alta del país y una de las mejores excursiones en Tokio. El volcán tiene muy poca actividad y en verano mucha gente aprovecha el buen tiempo para subir a la cima o practicar alpinismo. El Fuji se puede ver en días despejados desde Tokio, sobre todo entre los meses de mayo hasta septiembre, aunque es recomendable hacer una excursión de un día para verlo de más cerca. Sin duda, uno de los consejos para viajar a Japón imprescindibles. Hay varios lugares desde los que se tienen unas grandes vistas del Fuji como la zona de Hakone, el Lago Kawaguchiko, el parque Arakurayama Sengen de Fujiyoshida o desde el mismo tren bala Shinkansen, entre otros muchos.';
            break;
          case '/vue-japan-tour/lugares/hiroshima':
            this.titulo = 'Hiroshima';
            this.descripcion = 'Hiroshima es una ciudad marcada por su historia a raíz de la explosión de la bomba atómica en la Segunda Guerra Mundial. No es una visita agradable como tal, pero sí que creemos necesaria en cualquier viaje a Japón. Al acercarse a la Cúpula de la Bomba Atómica, uno de los pocos edificios que se conservan después de la explosión, te darás cuenta de la magnitud del desastre y del horror que vivieron sus habitantes. Otros lugares que ver en Hiroshima imprescindibles son el Museo Conmemorativo de la Paz, con objetos, recuerdos e información de aquel fatídico 6 de agosto de 1945, su bonito castillo y los Jardines Shukkeien.';
            break;
      }
    }
  }
}
</script>

<style>
#lugar{
    background-color: #343a40;
    color: white;
    
}

#lugar img{
    max-width: 100%;
}

#lugar p{
  font-size: 20px;
}

#descripcion{
  padding: 50px;
}
</style>