<template>
  <div>
    <!--Hero-->
    <b-overlay  show bg-color="rgba(33, 195, 236, 0.4)">
        <b-carousel
          id="carousel-fade"          
          fade   
          img-width="1024"
          img-height="480"
          
        > 
          <b-carousel-slide>
            <template #img>
              <img
                class="d-block img-fluid w-100"
                width="1024"
                height="480"
                src="../assets/hero/hero01.jpg"
                alt="japan-image-1"
              >
            </template>
            
          </b-carousel-slide>

          <b-carousel-slide>
            <template #img>
              <img
                class="d-block img-fluid w-100"
                width="1024"
                height="480"
                src="../assets/hero/hero02.jpg"
                alt="japan-image-2"
              >
            </template>
          </b-carousel-slide>

          <b-carousel-slide>
            <template #img>
              <img
                class="d-block img-fluid w-100"
                width="1024"
                height="480"
                src="../assets/hero/hero04.jpg"
                alt="japan-image-3"
              >
            </template>
          </b-carousel-slide>         
        </b-carousel>
        <template  #overlay class="container-fluid">
            <div  id="overlay-text">
              <div class="row align-items-center">
                <div >
                  <h1>Vue Japan Tour</h1>                  
                  <p class="d-none d-xl-block">
                    Vue Japan Tour es un paquete de viaje sobre tierras niponas.<br>
                    Con una duración de 18 días en los cuales se visitarán seis zonas populares.
                  </p>  
                  <b-button id="btn-saber-mas">
                    <router-link to="/que-es" id="btn-router">
                      Saber más
                    </router-link>
                  </b-button>              
                                    
                </div>
              </div>
            </div>
        </template>
      </b-overlay> 
      <!--/Hero--> 
      
      <!--Lugares-->
    <section id="lugares" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-uppercase">
            <small>Conoce las</small>
            <h2>Zonas populares</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card" >
              <img class="card-img-top" src="../assets/lugares-cards/tokio.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Tokio</h5>              
                <p class="card-text">Tokio es una ciudad interminable con templos, rascacielos, tradiciones milenarias y la mejor tecnología</p>             
                
                <b-button class="btn-mas">
                  <router-link to="/lugares/tokio" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/lugares-cards/castillo-himeji.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Castillo Himeji</h5>              
                <p class="card-text">El Castillo Himeji es uno de los castillos más impresionantes del mundo y uno de los lugares que tienes que ver en Japón.</p>             
                <b-button class="btn-mas">
                  <router-link to="/lugares/castillo-himeji" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/lugares-cards/shirakawago.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Shirakawa-go</h5>              
                <p class="card-text">Shirakawa-go, el pueblo del río blanco, es una aldea histórica situada en los alpes japoneses.</p>             
                <b-button class="btn-mas">
                  <router-link to="/lugares/shirakawa-go" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/lugares-cards/nara.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Nara</h5>              
                <p class="card-text">Nara, situada al sur de Kyoto, es una antigua capital de Japón con varios lugares destacados que visitar.</p>             
                <b-button class="btn-mas">
                  <router-link to="/lugares/nara" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/lugares-cards/monte-fuji.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Monte Fuji</h5>              
                <p class="card-text">El Monte Fuji es un fotogénico volcán sagrado, la cima más alta del país y una de las mejores excursiones en Tokio.</p>             
                <b-button class="btn-mas">
                  <router-link to="/lugares/monte-fuji" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="../assets/lugares-cards/hiroshima.jpg" alt="Card image cap">
              <div class="card-body">                
                <h5 class="card-title">Hiroshima</h5>              
                <p class="card-text">Hiroshima es una ciudad marcada por su historia a raíz de la explosión de la bomba atómica en la Segunda Guerra Mundial.</p>             
                <b-button class="btn-mas">
                  <router-link to="/lugares/hiroshima" id="btn-router">
                    Ver más
                  </router-link>
                </b-button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
      <!--/Lugares-->
  </div>      
</template>
    
<script>
</script>

<style >
/*Hero*/
#carousel-fade img{
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#overlay-text{        
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    color: rgb(255, 255, 255);      
}

#overlay-text p{
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

#overlay-text .container,
#overlay-text .row{
    height: 100%;
}

#btn-saber-mas{
    background-color: #e41270;
    color: white;
}

#btn-saber-mas:hover{
    background-color: #21c3ec;
    color: white;
}


/*Lugares*/
.btn-mas{
  background: #21c3ec !important;
}

.btn-mas:hover{
  background: #e41270 !important;
}
/*/Lugares*/
</style>