<template>
    <div>
    <div class="container pt-3 pb-3">
      <div class="row">
        <div class="col text-center text-uppercase">
          <small>Conoce </small>
          <h2>¿Qué es Vue Japan Tour?</h2>
        </div>
      </div>
    </div>
    <section id="que-incluye">      
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 pl-0 pr-0">
            <img src="../assets/hero/hero05.jpg" alt="hero03">
          </div>
          <div class="col-12 col-lg-6 pt-2 pb-4" style="padding-top: 145px !important;">
            <div  id="logo" class="pb-4">
                <img src="../assets/logo.png" alt="#" height="120" width="120">
                Japan Tour
            </div> 
            <div class="container pt-3 pb-4">
              <div class="row">
                <p style="padding-top: 30px; padding-bottom: 30px">            
                  Vue Japan Tour es un paquete de viaje sobre tierras niponas.<br>
                  Con una duración de 18 días en los cuales se visitarán seis zonas populares 
                  entre los turistas de todo el mundo, lugares cómo Tokio, Hiroshima, Monte Fuji, entre otros;
                  En cada locación se pasará 3 días y dos noches para poder visitar lugares y conocer
                  la gastronomía del lugar. <br>
                  Somos una empresa con experiencia de 50 años organizando y promoviendo viajes turísticos alrededor del mundo.
                </p>                
              </div>
            </div>           
            
            
            
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    
}
</script>

<style>
#logo{
    font-family: 'Permanent Marker', cursive;
    color: #e41270 !important;
    font-size: 60px;
}

#que-incluye{
    background-color: #343a40;
    color: white;
    
}

#que-incluye img{
    max-width: 100%;
}
</style>