<template>
  <div>
    <div class="container pt-3 pb-3">
      <div class="row">
        <div class="col text-center text-uppercase">
          <small>Conoce </small>
          <h2>¿Qué incluye Vue Japan Tour?</h2>
        </div>
      </div>
    </div>
    <section id="que-incluye">      
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 pl-0 pr-0">
            <img src="../assets/hero/hero03.jpg" alt="hero03">
          </div>
          <div class="col-12 col-lg-6 pt-2 pb-4" style="padding-top: 145px !important;">
            <h2>Japan Tour - Marzo 2020</h2>
            <p>            
              Nuestro tour tienen una duración de 18 días a través de 6 locaciones de Japón, <br>
              hay mucha gente interesada en nuestro tour, pero es para un grupo selecto de personas.<br> 
              Por eso te decimos que incluye el paquete:
            </p>
            <div class="container pt-3 pb-4">
              <div class="row">
                <ul class="col-10 offset-2">
                  <li class="text-left" >Vuelo redondo con destino al aeropuerto internacional Tokio-Haneda.</li>
                  <li class="text-left" >Japan Rail Pass, es un pase que te da acceso ilimitado al sistema de transporte de trenes en varias líneas de Japón. cuenta con duración de 21 días, suficiente para el recorrido del tour.</li>
                  <li class="text-left" >Transporte (independiente al uso de trenes).</li>
                  <li class="text-left" >Hospedaje de tres días y dos noches en cada una de las diferentes locaciones de nuestro tour.</li>
                  <li class="text-left" >Dos comidas por día.</li>
                  <li class="text-left" >Seguro de viaje (incluye necesidades médicas).</li>
                  <li class="text-left" >Acceso para los diferentes lugares turísticos en cada locación.</li>
                  <li class="text-left" >Un grupo de guías turísticos, en donde uno se hará cargo de cada locación.</li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </div>
  
</template>

<style >
#que-incluye{
    background-color: #343a40;
    color: white;
    
}

#que-incluye img{
    max-width: 100%;
}
</style>