<template>
  <div id="app">    
    <!--Header--->
    <nav id="header" class="pt-md-1">
      <div class="container">
        <b-navbar toggleable="md" type="light">
          <router-link id="logo-navbar" class="navbar-brand"  to="/">
            <img src="./assets/logo.png" alt="logo bootstrap-vue">
            Japan Tour
          </router-link>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
              <ul class="navbar-nav" id="nav-list">
                <li>
                  <router-link to="/que-es" class="nav-link">¿Qué es Vue Japan Tour?</router-link>
                </li>
                <li>
                  <router-link to="/que-incluye" class="nav-link">¿Qué incluye?</router-link>                  
                </li>
                <li>
                  <b-nav-item-dropdown href="#" text="Lugares" right>
                    <router-link to="/lugares/tokio" class="dropdown-item">Tokio</router-link>
                    <router-link to="/lugares/castillo-himeji" class="dropdown-item">Castillo Himeji</router-link>
                    <router-link to="/lugares/shirakawa-go" class="dropdown-item">Shirakawa-go</router-link>
                    <router-link to="/lugares/nara" class="dropdown-item">Nara</router-link>
                    <router-link to="/lugares/monte-fuji" class="dropdown-item">Monte Fuji</router-link>
                    <router-link to="/lugares/hiroshima" class="dropdown-item">Hiroshima</router-link>
                  </b-nav-item-dropdown>
                </li>
                <li class="pl-0 pl-md-3 pb-3 pb-md-0">
                  <button type="button" class="btn">
                    <router-link to="/reservar-lugar" id="btn-router">Reservar Lugar</router-link>
                  </button>  
                </li>
              </ul>           
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </nav>
    <!--/Header--->

    <!---Seccion central---> 
    <router-view></router-view>
    <!---/Seccion central---> 

    <!--Footer--->
    <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md">
          <a href="#">Preguntas Frecuentes</a>
        </div>
        <div class="col-12 col-md">
          <a href="#">Contactános</a>
        </div>
        <div class="col-12 col-md">
          <a href="#">Términos y condiciones</a>
        </div>
        <div class="col-12 col-md">
          <a href="#">Privacidad</a>
        </div>
        <div class="col-12 col-md">
          <a href="https://gitlab.com/chichianichi/vue-japan-tour" target="_blank" id="repositorio">Repositorio</a>
        </div>
        <div class="col-12 col-md">
          <p id="contacto-gitlab">Created by <a href="https://gitlab.com/chichianichi" target="_blank">@chichianichi</a></p>
        </div>
      </div>
    </div>
  </footer>
    <!--/Footer--->
  </div>

</template>

<script>
import MainView from './views/MainView'
export default {
  components: {
    'app-main': MainView
  }
}
</script>

<style >
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

html{
  background-color: #e41270;
}

#app {
  background-color: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#header{
  border-bottom: 3px solid #e41270;
}

#logo-navbar{
    font-family: 'Permanent Marker', cursive;
    color: #e41270 !important;
  }

#nav-list li{
  color: white;
}

#btn-router{
  color: white;
  text-decoration: none;
}

nav{
  padding: 0 !important;  
}

#header img{
    height: 50px !important ;
    width: 50px !important; 
  }

#header button{
    background-color: #21c3ec;
    color: white;
}

#header button:hover{
    background-color: #e41270;
    color: white;
}
  
#nav-collapse{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

/*Footer */
#footer{
    background: #e41270;
}

#footer a,
#footer p{
    color: white;
}

#repositorio,
#contacto-gitlab a{
  color: #21c3ec !important;
}
</style>
